{% extends "de-base.html" %}
{% block title %} Einkehr auf der Alpe Schrattenwang {% endblock %}
{% block top_title %} <h1>Einkehr auf der Alpe Schrattenwang </h1> {% endblock %}
{% block home %} <a href="/"><button>Home</button></a> {% endblock %}
{% block main_content %}
    <div id="content_block_eins">
        <h3>Umwerfende Sicht oder Urig und Gemütlich </h3>
        <p>Im Sommer finden sie Platz auf unserer Terasse. <br>Hier bekommen sie bei Schnönen Wetter die Sicht richtung Grünten. Bei Besonders Klaren bedingungen reicht die sicht bis nach Gundremingen(ca. 150 KM).
            <br> Bei Schlechtem Wetter haben wir in der Hütte keine Sitzgelegenheit
        </p>
        <p>Im Winter laden usere Stuben zum Verweilen ein. Die Orginal Allgäuer Bauernstuben werden mit Herz Dekoriert.<br>Trotz der Begrenzten Anzahl an Sitzplätzen nehmen wird keine Reservierungen an. Für einen Reibungslosen Ablauf Empfehlen wird die Typischen Stoßzeiten, Mittag und Kaffe/Kuchen, zu meiden. Falls es gerade zu Kuschlig in der Hütte ist, raten wir zu zwei Weiteren Runden im Schrattenwang-lift.</p>
        <img href="{{ url_for('static', filename='img/placeholder.png') }}">
        <img href="{{ url_for('static', filename='img/placeholder.png') }}">
    </div>

    <div id="content_block_zwei">
        <h3>Zu Fuß oder per Ski - wir sind nicht weit weg</h3>
        <p>Die einfachste Art uns zu Besuchen Erfolgt über die Söllereckbahn. Von der Bergstation sind wir zu Fuß in 10 Minuten zu erreichen. Der Weg ist mit Kinderwagen oder Rollstuhl begebar. Wir ligen auf dem Höhenweg nach Rizlern</p>
        <p>Auch im Winter erreichen sie uns zu Fuß. Der Weg wird Gespurt. Falls sie Freunde des Wintersports sind, so erreichen sie uns am Bequemstens mit einer Fart auf der Piste 3a, nach einer Fahrt mit dem Schratttenwanglift</p>
        <p>Als Startpunkt ihrers Abenteurs empfilt sich der Parkplatz der Söllereckbahn. Wir sind nicht mit PKW erreichbar</p>
    </div>

{% endblock %}