{% extends "de-base.html" %}
{% block title %} Homepage Alpe Schrattenwang {% endblock %}
{% block top_title %} <h1>Impressum</h1> {% endblock %}
{% block home %} <a href="/"><button>Home</button></a>{% endblock %}
{% block main_content %}
    <div id="kontent_block_eins" class="content">
        <h3>Impressum</h3>
        <p>
            Angaben gemäß §5 TMG: <br>
            Müller GbR <br>
            Am Söllereck<br>
            87561 Oberstdorf<br>
            Telefon: 08322 8198
            Email: senn@alpe-schrattenwang.de
        </p>
        <p>
            Vertreten durch: <br>
            Barbara Müller <br>
            Alfred Müller  <br>
            Achweg 1    <br>
            87538 Fischen
        </p>
        <p>
            Umsatzsteuer-ID: DE 233314239 <br>

        </p>
    </div>
{% endblock %}
