{% extends "de-base.html" %}
{% block title %} Homepage Alpe Schrattenwang {% endblock %}
{% block top_title %} <h1>Homepage der Alpe Schrattenwang</h1> {% endblock %}
{% block main_content %}
    <div id="kontent_block_eins" class="content">
        <h3>Willkommen</h3>
        <p>
            Wir die Familie Müller, möchten sie herzlich auf unsere Alpe Willkommen heißen.
        </p>
        <p>
            Die Alpe Schrattenwang liegt direkt am Wanderweg von der Söllereckbahn ins Kleine Walsertal und ist ganzjährig bewirtschaftet. Im Sommer weiden hier
	      20 Milchkühe, von deren Milch wir täglich unseren Käse, Butter, Quark und Joghurt herstellen.  Auch im Winter ist der Wanderweg ins Walsertal gespurt und die Skipiste vom Schrattenwanglift  führt direkt an der Hütte vorbei.
        </p>
        <p> <span id="call_to_action>"> Also Besuchen sie uns</span></p>
    </div>

    <div id ="kontent_block_zwei" class="content">
        <h3> Unsere Öffnungszeiten</h3>
        <p>Wir haben keinen Ruhetag</p>
        <p>von 10 Uhr bis 17 Uhr sind wir gerne für sie da</p>
        <p>Die Einzigen Außnahme bilden unsere Betriebs ferien, Ende Oktober bis Mitte Dezember und Mitte April bis Mitte Mai, und wenn das Wetter sehr Schlecht ist, Falls sie es sich dreimal überlegen in die Berge zu gehen sind wir wahrscheinlich nicht da</p>
    </div>

    <div id="kontent_block_drei" class="content">
        <p><h3>Bodenständig, Gut und Schnell </h3></p>
        <p>Dies sind die Grundsetzt unsere Küche</p>
        <p>Wir haben uns auf Brotzeiten, einfache Küche und vorallem Kuchen Spezialisiert. Falls dies sie Anspricht finden sie <a href="Speißekarte/de" class="plain-link">Hier weitere Informationen</a></p>
    </div>

    <div id="kontent_block_vier" class="content">
        <p><h3>Zu Fuß, per Ski oder per Seilbahn</h3></p>
        <p>Unsere Alpe liegt auf dem Panoramawanderweg vom Söllereck nach Rizlern. Sie erreichen uns nach 10 Minuten zu Fuß. Der Weg ist auch im Winter gut begebar, außgenommen, das er wegen Lawinengefahr gesperrt ist</p>
        <p>Skifahrer Erreichen uns nach einer Fahrt mit dem Schrattenwanglift über die Piste 3a, die Abfahrt ist auch für schwächere Skifahrer geignet.</p>
    </div>
{% endblock %}
