{% extends "de-base.html" %}
{% block title %} Homepage Alpe Schrattenwang {% endblock %}
{% block top_title %} <h1>Kontakt Herstellen</h1> {% endblock %}
{% block home %} <a href="/"><button>Home</button></a>{% endblock %}
{% block main_content %}
    <div id="kontent_block_eins" class="content">
        <h3>Setzten sie sich mit uns in Verbindung</h3>
    </div>

    <div id ="kontent_block_zwei" class="content">
        <h3>Telefon</h3>
        <p>08322 8198</p>
    </div>

    <div id=kontent_block_zwei" class="content">
        <h3>E-mail</h3>
        <p>senn@alpe-schrattenwang.de</p>
        <p><a href="mailto:senn@alpe-schrattenwang.de"><button>Oder hier clicken</button></a></p>
    </div>


{% endblock %}
