{% extends "de-base.html" %}
{% block title %} Unsere Produkte {% endblock %}
{% block top_title %} Unsere Produkte {% endblock %}
{% block home %} <a href="/"><button>Home</button></a>{% endblock %}
{% block main_content %}
    <div id="content_block_eins">
        <h3>Wir sind Selbstvermarker</h3>
        <p>Wir Produzieren im Sommer Käse, im Herbt schlachten wir Kühe und die Schweine, die wir im Sommergroßziehen</p>
        <p>Das Fleisch wird als Schiken oder Speck vermarktedt, auch Leberwurst und Pressack wird daraus gemacht.</p>
        <p>Falls es nicht direkt von uns gemacht wurde, stammt es aus einem Handwerksbetrieb vor Ort</p>
    </div>
    <div id="content_block_zwei">
        <h3>Wir verschicken fast alles</h3>
        <p>Falls es ihnen nach unserem Käse oder unserem Schincken verlangt, aber sie uns nicht direkt Besuchen können, können wir ihnen ein Paket zusammenstellen und ihnen zukommenm lassen</p>
        <p> <a href="/Kontakt/de">Hier</a> gelangen zu unserer Kontaktseite, darüber können sie Anfragen und genauere Informationmenen Erlangen</p>
        <p><span class="cursive"> Wir kommen nicht für Transport gebühren auf</span></p>
    </div>
{% endblock %}
