{% extends "de-base.html" %}
{% block title %} Homepage Alpe Schrattenwang {% endblock %}
{% block top_title %} <h1>Q & A</h1> {% endblock %}
{% block home %} <a href="/"><button>Home</button></a>{% endblock %}
{% block main_content %}
    <div id="kontent_block_eins" class="content">
        <h3>Q & A</h3>

        <table border="1px">
            <tr>
                <td>Frage</td>
                <td>Antwort</td>
            </tr>
            <tr>
                <td>Wie heißt der Hund</td>
                <td>Es ist die Bella unsere Bernersennen Hündin </td>
            </tr>
            <tr>
                <td>Gibt es Kaiserschmarren</td>
                <td>Wir machen viel Schmarren aber keinen Kaiserlichen</td>
            </tr>
            <tr>
                <td>Gibt es Pommes</td>
                <td>Nein</td>
            </tr>
            <tr>
                <td>Welche Teesorten gibt es</td>
                <td>Früchte, Kammille, Grün, Kräuter, Schwarz und Jäger</td>
            </tr>
            <tr>
                <td>Was ist auf dem Butterbrot drauf</td>
                <td>Butter, nur Butter </td>
            </tr>
            <tr>
                <td>Wie weit ist es nach Rizlern</td>
                <td>6 KM, ca. 1,5 Stunden</td>
            </tr>
            <tr>
                <td>Was sind das für Blumen</td>
                <td>Höchstwarscheinlich Glockenwein</td>
            </tr>
            <tr>
                <td>Warum sind die Kuhschwänze Angebunden</td>
                <td>Neuste EU Verordnung, Doppelte Sicherung</td>
            </tr>
        </table>
    </div>


{% endblock %}