<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %} {% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for("static", filename="style/style.css") }}" type="text/css">
</head>
<body>
    <div id="page">
        <header id="header">
            <div id="top-banner">
                <div id="top-logo"> <img id="testImg" src="{{ url_for('static', filename='img/placeHolder.png') }}"> </div>
                <div id="top-title">{% block top_title %} {% endblock %}</div>
            </div>
            <nav id="nav">
                 {% block home %} {% endblock %}
                <a class="NavButton" href="../Einkehr/de"><button>Einkehr</button></a>
                <a class="NavButton" href="../Produkte/de"><button>Produkte</button></a>
                <a class="NavButton" href="../Speißekarte/de"><button>Speisdekarte</button></a>
            </nav>
        </header>
        <div id="content"> {% block main_content %} {% endblock %} </div>
        <footer id="footer">
            <div id="footer_left">
                <div id="kontakt-link">
                    <div>Falls sie Kontakt mit uns Aufnehmen möchten</div>
                    <div><a href="../Kontakt/de"><button class="footer">Hier finden sie weiter</button></a></div>
                </div>
                <div id="qa-link">
                    <div>Hier finden sie Antworten auf häufig gestellte Fragen</div>
                    <div><a href="../QA/de"><button class="footer">Q & A </button></a></div>
                </div>
            </div>
            <div id="footer_center">
                Besuchen sie uns auf unseren Social Media Accouts:<br>
                <a href="https://www.facebook.com/alpeschrattenwang"> <button class="footer"> Facebook</button></a>
                <a href="https://www.instagram.com/schrattenwang"> <button class="footer"> Instagram</button></a>
            </div>
            <div id="footer_right">
                <div id="impressum">
                    <a href="../Impressum/de"><button class="footer">Hier gehts zum Impressum</button></a>
                </div>
                <div id="datenschutz">
                    <a href="../Datenschutz/de"><button class="footer">Hier gehts zum Datenschutz</button></a>
                </div>
            </div>
        </footer>
    </div>
</body>
</html>